.post-input-wrappper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding: 0.5rem;
}

.post-input-image{
    border-radius: 50%;
    width: 3rem;
}
.post-input-field{
    width: 70%;
}