.post-upper-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0f2f5;
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.posts-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
 /* For desktop   
    width: 50%;
    margin: 0 auto;
  */
}

.post-upper-row-user-details-wrapper{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 100%;

}

.post-upper-row-user-name{
    font-weight:bolder;
    height: 100%;
    align-self: flex-end;
    font-size: 1.15rem;
}


.post-middle-content{
    text-align: left;
    padding: 0.5rem;
    font-weight: 100;
    font-size: 1rem;
    white-space: pre-wrap;
}

.post-upper-row-timestamp{
    font-style: italic;
    font-size:small;
    align-self: flex-start;
    font-weight: 100;
}

.post-middle-image{
    max-width: 100%;
    max-height: 100%;
}

.post-upper-row{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px  white solid;
}

.post-upper-row-user-image-wrapper{
    margin: 0;
    padding: 1rem;
}

.post-upper-row-user-image{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.post-middle-text{
    padding: 0.5rem;
}

.post-middle-row{
    width: 100%;
}

.post-bottom-row{
    border-top: 1px  white solid;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.post-leave-comment-icon{
    padding-right: 1rem;
}

.post-see-comments-btn{
    display: flex;
    border: none;
}