.search-results-wrapper {
    text-align: center;
    height: 94vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.search-result-group{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-bottom: 1rem;
    width: 100%;
}

.search-result-user{
    font-size: 1.5rem;
    text-decoration: none;
    justify-self: flex-start;
    width: 100%;
}

.search-result-user-link{
    text-decoration: none;
    width: 100%;
    color: black;
    font-weight: bold;
}


.user-result-profile-image{

    max-width: 4rem;
    height: 4rem;
    object-fit: cover;
    margin: auto; /* center the image vertically */
    border-radius: 50%;
}


.search-result-follow-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .search-result-follow-btn:hover {
    background-color: rgb(249,250,251);
  }
  
  .search-result-follow-btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .search-result-follow-btn:focus-visible {
    box-shadow: none;
  }
  
  .search-result-follow-group{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .search-result-follow-icon{
      margin-left: 0.5rem;
  }
  
  .search-result-follow-btn{
      display: flex;
  }